<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="../public/libraries/p5.js"></script>
    <script src="../public/libraries/p5.sound.min.js"></script>
</head>
<body>         
    <h1>Página de Inicio</h1>
    <% if (login) { %>                
        <h1>Usuario conectado: <strong><%= name %></strong></h1>                        
        <a href="logout" class="a-logout">Logout</a>

        <h2>Pirate Treasure </h2>
        <script src="../public/sketch.js" class="sketch_script"></script>
        
    <%} else { %>
        <h1><strong><%= name %></strong></h1>   
        <a href="login" class="a-login">Login</a>
        <a href="register" class="a-register">Register</a>
    <% } %>


  </body>
</html>