.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
        min-height: 120px;
        background: rgb(204,175,122);
        margin: 0 -1rem;
        font-size: 36px;
        font-family: Montserrat;
        p{
            padding-top: 1rem;
        }
    }

    &__content{
        min-height: calc(100vh - 170px);
        border-radius: 8px;
        margin-top: -2rem;
        background: white;
        color: black;
        font-size: 2rem;
        &-data{
            display: block;
            grid-gap: 20px;
            background-color: white;
            height: 95%;
            width: 95%;
            font-family: 'Montserrat';
            .second-tab{
                display: grid;
                grid-template-columns: auto auto;
                padding: 20px 0;

                .gastos-categoria p {
                    padding-top: 25px;
                }

                .custom-select{
                    border-radius: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}