<div class="container-fluid page">
    <div class="page__box p-3 mt-2"><p>Dashboard</p></div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
                <div id="first-tab">
                </div>
                <div class="second-tab">
                    <div class="gastos-categoria">
                        <select class="form-select" style="width: 50%; display: inline;" [ngModel]="selectCategory" #selectCategory (ngModelChange)="categorydifferent(selectCategory.value)">                            
                            <option value="Categoria 1"> Categoria 1</option>
                            <option value="Categoria 2"> Categoria 2</option>
                            <option value="Categoria 3"> Categoria 3</option>
                            <!--<option *ngFor="let categoria of catList" [ngValue]="categoria.id">{{categoria.name}}</option>-->
                        </select>

                         <p id="somaCat"> Despesas por Categoria</p>
                    </div>

                    <div class="gastos-mensais">
                        <select class="form-select" style="width: 50%; display: inline;" [ngModel]="selectMonth" #selectMonth (ngModelChange)="numberdifferent(selectMonth.value)">
                            <option [value]="0">Janeiro</option>
                            <option [value]="1">Fevereiro</option>
                            <option [value]="2">Março</option>
                            <option [value]="3">Abril</option>
                            <option [value]="4">Maio</option>
                            <option [value]="5">Junho</option>
                            <option [value]="6">Julho</option>
                            <option [value]="7">Agosto</option>
                            <option [value]="8">Setembro</option>
                            <option [value]="9">Outubro</option>
                            <option [value]="10">Novembro</option>
                            <option [value]="11">Dezembro</option>
                        </select>
                        
                        <p id="soma">Despesas Mensais</p>
                    </div>
                </div>
        </div>
    </div>
</div>