<div class="container-fluid page">
    <div class="page__box p-3 mt-2"><p>Dashboard</p></div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
                <div class="first-tab">
                    <highcharts-chart 
                    [Highcharts]="Highcharts" [options]="chartOptions"
                    style="width: 100%; height: 100%; display: block;">
                    </highcharts-chart>
                </div>
                <div class="second-tab">
                    <div class="gastos-categoria">
                        <select class="custom-select">
                            <option>Categoria 1</option>
                            <option>Categoria 2</option>
                            <option>Categoria 3</option>
                            <option>Categoria 4</option>
                            <option>Categoria 5</option>
                            <option>Categoria 6</option>
                         </select>

                         <p> $$$$</p>
                    </div>
                    <div class="gastos-mensais">
                        <h1>Gastos mensais</h1>
                        <P>$$$$</P>
                    </div>
                </div>
        </div>
    </div>
</div>