<head>
    <link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>
</head>


<div class="container" fxLayout="row" >
        <div class="login-column" fxFlex="25" fxLayout="column">
            <div class="title" fxFlex="40" fxLayoutAlign="center center" fxLayout="column">
                <h1>Organize</h1>
                <h2>Welcome to Organize </h2>
            </div>
            <div class="login-content" fxFlex>
                <div class="login-div">
                    <div class="login-card">
                        <form  fxLayout="column" [formGroup]="loginDetail"  class="login-form">
                            <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput class="form-control" formControlName="username">
                            </mat-form-field>
                
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" class="form-control" formControlName="password">
                            </mat-form-field>
                
                            <button mat-raised-button type="submit" (click)="loginconfirmation()">Sign In</button>
                            <a routerLink="/signup">New User? Click Here</a>
                        </form>
                    </div>
            </div>
            </div>
    </div>
    <div fxFlex>
        <img src="/assets/img/image.jpg" width="100%" height="100%">
    </div>
</div> 