<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="togglesidebar()"><mat-icon>menu</mat-icon></button>
        <div class="row mr-2">
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <a>Definiçoes</a>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="../login">
                        <mat-icon>exit_to_app</mat-icon> 
                        Logout
                    </button>
                </mat-menu>
            </li>
        </div>
    </mat-toolbar-row>
</mat-toolbar>