h1{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Reenie Beanie';
    font-size: 40px;
}

.mat-icon{
    vertical-align: center;
    margin-right: 1rem;

}

.mat-divider{
    margin: auto;
    border-top-width: 2px;
    border-color: rgb(208,174,118);
    width: 90%;
}

.mat-list-item{
    color: rgb(204,175,122);
    height: 44px !important;
    margin-bottom: 4px;
    ::ng-deep {
        .mat-list-item-content {
            border-radius: 5px;
            margin: 0 8px;
            &:hover{
                background: rgb(204, 175, 122) !important;
                color: rgb(256,220,156);
            }
        }
    }
}

.list-item-active{
    color: rgb(256,220,156) !important;
    ::ng-deep{
        .mat-list-item-content{
            background: rgb(204, 175, 122) !important;
            &:hover{
                background: rgb(204, 175, 122) !important;
            }
        }
    }
}

.mat-subheader{
    color:rgb(168, 144, 99);
    font-size: 0.8rem;
    letter-spacing: 1px;
}