<mat-nav-list>
    <h1>Organize</h1>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu</h2>
    <a mat-list-item routerLink="./dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard</a>

    <a mat-list-item routerLink="./categorias" routerLinkActive="list-item-active">
        <mat-icon>category</mat-icon>Categorias</a>    

    <a mat-list-item routerLink="./despesas" routerLinkActive="list-item-active">
        <mat-icon>style</mat-icon>Despesas</a>
</mat-nav-list>
